data/.DS_Store
/Rdata
.DS_Store
.Rproj.user
Eco_location-scale_model.Rproj
.Rhistory
.Rhistory
title_page.pdf
output.zip
main_manuscript.pdf
Location_scale_Models_for_Ecology_and_Evolution.pdf
preprint_ecoevorxiv.pdf
/online_tutorial_v2_files
